{:paths ["src-clojure" "target/classes"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:dev
  {:extra-deps
   {io.github.humbleui/humbleui {:git/sha "72dfe4906cdde227f6cebade96337fb311106ba0" :exclusions [io.github.humbleui/jwm]}
    nrepl/nrepl                 {:mvn/version "1.0.0"}}
   :extra-paths ["test-clojure" "dev" "/Users/tonsky/ws/jwm/target/classes"]}}}