{:paths ["src-clojure" "target/classes"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:bench
  {:extra-deps
   {com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.0"}
    criterium/criterium                      {:mvn/version "0.4.6"}}
   :extra-paths ["bench-clojure"]
   :jvm-opts ["-server"
              "-Duser.language=en-US"
              "-Djdk.attach.allowAttachSelf"
              "-XX:+UnlockDiagnosticVMOptions"
              "-XX:+DebugNonSafepoints"]}}}